.container {
  position: relative;

  width: 100%;
  height: 100%;

  overflow: hidden;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.marquee {
  min-width: 100%;
  flex-shrink: 0;
  animation: marquee linear infinite;
  animation-duration: 15s;
}

.repeater {
}

.child-container {
  display: inline-block;
}

.child-container.absolute {
  position: absolute;
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(-100%, 0);
  }
}
